{% extends "layout.html" %}
{% block title %}
Resolver actividad
{% endblock %}
{% block content %}

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
	<script src="https://unpkg.com/jspdf-autotable"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
	<script>
		applyPlugin(jsPDF)
		window.doc = new jsPDF('p', 'pt', 'a4');
		window.doc.setFontSize('11');
		createFrontPage()

		function createFrontPage() {
			let logo = null;

			getDataUri("{{url_for('static', filename='home.jpeg') }}", function(dataUri) {
				let left = 40;
				let top = 40;
				const imgWidth = 400;
				const imgHeight = 240;

				window.doc.addImage(dataUri, 'PNG', left, top, imgWidth, imgHeight);
				let lines = 20
				window.doc.text(40, lines * 20, 'Estudiante: {{ session.name }} {{user.surname}}');
				lines++
				window.doc.text(40, lines * 20, 'Actividad: ' + '{{activity.statement_title}}');
				lines++
				window.doc.text(40, lines * 20, 'Consigna: ' + '{{activity.statement}}');
				window.doc.addPage();

			});

			function getDataUri(url, cb)
			{
					var image = new Image();

					image.onload = function () {
							var canvas = document.createElement('canvas');
							canvas.width = this.naturalWidth;
							canvas.height = this.naturalHeight; 

							canvas.getContext('2d').drawImage(this, 0, 0);

							cb(canvas.toDataURL('image/jpeg'));
					};

					image.src = url
				}
		}

		function savePDF() {
			var commentary = $('#inputCommentary').val();
			let lines = 20
			window.doc.text(40, lines * 20, 'Comentario');
			lines++
			window.doc.text(40, lines * 20, commentary);
			doc.save('Respuestas.pdf');
		}

		function showUpload() {
			$("#archivo-respuestas").show()
		}

		function canvasToPdf(canvas, line) {
			const pWidth = window.doc.internal.pageSize.width;
			const srcWidth = canvas.width;
			const margin = 18;
			const resizedCanvas = document.createElement("canvas");
			const resizedContext = resizedCanvas.getContext("2d");

			const width = (pWidth - margin * 2)
			const height = width / srcWidth * canvas.height
			resizedCanvas.height = height;
			resizedCanvas.width = width;
			resizedContext.drawImage(canvas, 0, 0, width, height);
			const imgData = resizedCanvas.toDataURL();
			window.doc.addImage(imgData, "JPEG", margin, margin + 20 * line)
		}

		function imgToPdf(img) {
			const pWidth = window.doc.internal.pageSize.width;
			const srcWidth = img.width;
			const margin = 18;
			const resizedCanvas = document.createElement("canvas");
			const resizedContext = resizedCanvas.getContext("2d");

			const width = (pWidth - margin * 2)
			const height = width / srcWidth * img.height
			resizedCanvas.height = height;
			resizedCanvas.width = width;
			resizedContext.drawImage(img, 0, 0, width, height);
			const imgData = resizedCanvas.toDataURL();
			window.doc.addImage(imgData, "JPEG", margin, margin)
			window.doc.addPage();
		}

		function tableToPdf(table) {
			console.log("próximamente: exportar a excel")
		}

		function tipo_grafico(selection) {
			switch (selection) {
				case "bar":
					return "Barras"
					break;
				case "data table":
					return "Tabla"
					break
				case "line":
					return "Líneas"
					break
				case "pie":
					return "Torta"
					break
				case "dot":
					return "Puntos"
					break
				case "scatter":
					return "Dispersión"
					break
				case "map":
					return "Mapa"
				default:
					break;
			}
		}

		function printPlotterParameters() {
			var selection = $("#iframePlotter").contents().find('input:radio[name="chart"]:checked').val();
			var x_axis = $("#iframePlotter").contents().find('#order-axi-x').children(0).children(0).prop('value').split("***")[1];
			var y_axis = $("#iframePlotter").contents().find('#order-axi-y').children(0).children(0).prop('value');
			var dispersion_x = $("#iframePlotter").contents().find('#dispersionX').val().toString();
			var dispersion_y = $("#iframePlotter").contents().find('#dispersionY').val().toString();
			if ($("#iframePlotter").contents().find('#acumulativeXCheckBox').is(':checked')) {
				var cumulative = true;
			}
			else {
				var cumulative = false;
			}
			var conditions = $("#iframePlotter").contents().find("#order-conditions");
			//check if there are any conditions
			let stringConditions
			let has_condition = false
			if (conditions.children(0).length > 0) {
				has_condition = true
				//loop through the conditions
				$("#iframePlotter").contents().find('[name=condition]').each(function (index) {
					//add the condition and the separator "~~~"
					stringConditions = stringConditions + $(this).children(0)[2].value + '~~~';
				});

				//delete the last separator "~~~"
				stringConditions = stringConditions.slice(0, -3);
			}
			let lines = 3;
			window.doc.text(40, lines * 20, "Tipo de gráfico: " + tipo_grafico(selection))
			lines++;
			window.doc.text(40, lines * 20, "Eje x: " + x_axis)
			lines++;
			window.doc.text(40, lines * 20, "Eje y: " + (y_axis ? y_axis : "-"))
			lines++;
			window.doc.text(40, lines * 20, "Dispersión x: " + dispersion_x)
			lines++
			window.doc.text(40, lines * 20, "Dispersión y: " + dispersion_y)
			lines++
			window.doc.text(40, lines * 20, "Es acumulativo: " + (cumulative ? "Sí" : "No"))
			lines++
			window.doc.text(40, lines * 20, "Tiene condiciones: " + (has_condition ? "Sí" : "No"))
			lines++
			window.doc.text(40, lines * 20, "Condiciones: " + (has_condition ? stringConditions : "-"))
			lines++
			const dataset = document.getElementById('iframePlotter').contentWindow.document.getElementsByTagName("h1")[0].textContent
			window.doc.text(40, lines * 20, "Fuente de datos: " + dataset + " (" + {{ datasetId }} + ")")

			return lines
		}

		function printGraphParameters() {
			var searchString = $("#iframeGraph").contents().find('#searchString').val();

			var quantityOfWords = $("#iframeGraph").contents().find('#quantity').val();

			var excludePrepositions = false;
			var excludeArticles = false;
			var excludePronouns = false;
			var excludeConjunctions = false;
			var excludeAdverbs = false;
			var excludeVerbs = false;
			var excludeLinks = false;


			if ($("#iframeGraph").contents().find('#preposiciones').is(':checked')) {

				var excludePrepositions = true;

			}

			if ($("#iframeGraph").contents().find('#articulos').is(':checked')) {

				var excludeArticles = true;

			}

			if ($("#iframeGraph").contents().find('#pronombres').is(':checked')) {

				var excludePronouns = true;

			}

			if ($("#iframeGraph").contents().find('#conjunciones').is(':checked')) {

				var excludeConjunctions = true;

			}

			if ($("#iframeGraph").contents().find('#adverbios').is(':checked')) {

				var excludeAdverbs = true;

			}

			if ($("#iframeGraph").contents().find('#conjugaciones').is(':checked')) {

				var excludeVerbs = true;

			}

			if ($("#iframeGraph").contents().find('#links').is(':checked')) {

				var excludeLinks = true;

			}

			let lines = 3;
			window.doc.text(40, lines * 20, "Búsqueda: " + searchString)
			lines++;
			window.doc.text(40, lines * 20, "Cantidad de palabras: " + quantityOfWords)
			lines++;
			window.doc.text(40, lines * 20, "Excluir preposiciones: " + (excludePrepositions ? "Sí" : "No"))
			lines++;
			window.doc.text(40, lines * 20, "Excluir artículos: " + (excludeArticles ? "Sí" : "No"))
			lines++;
			window.doc.text(40, lines * 20, "Excluir pronombres: " + (excludePronouns ? "Sí" : "No"))
			lines++;
			window.doc.text(40, lines * 20, "Excluir conjunciones: " + (excludeConjunctions ? "Sí" : "No"))
			lines++;
			window.doc.text(40, lines * 20, "Excluir adverbios: " + (excludeAdverbs ? "Sí" : "No"))
			lines++;
			window.doc.text(40, lines * 20, "Excluir verbos comunes: " + (excludeVerbs ? "Sí" : "No"))
			lines++;
			window.doc.text(40, lines * 20, "Excluir links: " + (excludeLinks ? "Sí" : "No"))
			lines++;
			return lines
		}

		function postResolution() {
			var commentary = $('#inputCommentary').val();
			var file = $('#fileinput').prop('files')[0];
			var formdata = new FormData();
			formdata.append("file", file);
			formdata.append("commentary", commentary);
			formdata.append("activityId", {{ activityId }});
			$.ajax({
				url: "/addResolutionToActivity",
				method: "POST",
				processData: false,
				data: formdata,
				contentType: false
			}).done(res => {
				console.log(res)
				$("#flashes").append('<div class="alert alert-success alert-dismissible fade show" id="alert" style="margin: auto; width: 60%; " role="alert">' +
					res.message +
          '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>'+
          '</div>')
			})
			.fail(res => {
				$("#flashes").append('<div class="alert alert-danger alert-dismissible fade show" id="alert" style="margin: auto; width: 60%; " role="alert">' +
					JSON.parse(res.responseText).message +
          '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>'+
          '</div>')
			})
		}
	</script>
</head>

<body>

	<div class="container" style="min-height: 700px%;">
		<div style="min-height: 700px;" class="row align-items-start">
			<div id="flashes"></div>
			<div class="col">

			</div>
			<div style="background-color: #61A5C2; text-align:center; margin: auto;min-height: 700px !important;"
				class="col-12">
				<div id="alertsActivity" style="z-index: 2000; position: fixed; width:70%"></div>
				<br />
				<h5 style="display:inline-block;">Titulo: {{activity.statement_title}}</h5>
				<hr>
				<h5 style="display:inline-block;">Consigna: {{activity.statement}}</h5>
				<hr>
				<h5 style="display:inline-block;">Fecha de fin: {{activity.end_date}}</h5>
				<hr>
				<h5 style="display:inline-block;">Área de realización de la actividad</h5>
				<br />
				<div style="height:105%; border: 10px solid #61A5C2 ">
					<nav>
						<div class="nav nav-tabs" style="padding-left: 260px;" id="nav-tab" role="tablist">
							{% if plotterTab %}

							<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
								data-bs-target="#nav-plotter" type="button" role="tab" aria-controls="nav-plotter"
								aria-selected="true">Graficador</button>

							{% endif %}


							{% if socialGraph %}
							<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-social"
								type="button" role="tab" aria-controls="nav-social" aria-selected="true">Grafo social
								(Twitter)</button>

							{% endif %}

							<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
								data-bs-target="#nav-entrega" type="button" role="tab" aria-controls="nav-entrega"
								aria-selected="false">Entregar actividad</button>
						</div>

					</nav>
					<div id="alertsActivity"></div>
					<div class="tab-content" id="nav-tabContent" style="height:auto; width: 100%; ">

						{% if plotterTab %}
						<div class="tab-pane fade" id="nav-plotter" role="tabpanel" aria-labelledby="nav-profile-tab"
							style="height:100%; width: 100%;">
							<button type="button" class="btn btn-primary" onclick="(function(){
								const table = document.getElementById('iframePlotter').contentWindow.document.getElementById('iframe').contentWindow.document.getElementsByClassName('bk-data-table')[0]
								const canvas = document.getElementById('iframePlotter').contentWindow.document.getElementById('iframe').contentWindow.document.getElementsByTagName('canvas')[0]
								if(table) {
									tableToPdf(table)
								}
								if(canvas) {
									const lines = printPlotterParameters()
									canvasToPdf(canvas, lines)
									window.doc.addPage();
								}
							})()">
								Añadir a la respuesta
							</button>
							<iframe src="{{url_for('plotter', Bid=datasetId , activityId=activityId)}}" id="iframePlotter"
								style="width:inherit; height: 150vh;"></iframe>
						</div>

						{% endif %}

						{% if socialGraph %}
						<div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-profile-tab"
							style="width: 100%">
							<button type="button" class="btn btn-primary" onclick="(function(){
								const canvas = document.getElementById('iframeGraph').contentWindow.document.getElementById('iframe').contentWindow.document.getElementsByTagName('canvas')[0]
								if(canvas) {
									const lines = printGraphParameters()
									canvasToPdf(canvas, lines)
									window.doc.addPage();
								}
								const img = document.getElementById('iframeGraph').contentWindow.document.getElementById('iframe').contentWindow.document.getElementById('nav-profile').getElementsByTagName('img')[0]
								imgToPdf(img)
							})()">
								Añadir a la respuesta
							</button>
							<iframe src="{{url_for('twitter_search', noNav=1)}}" id="iframeGraph" style="width:inherit; height: 150vh"></iframe>
						</div>
						{% endif %}

						<div class="tab-pane fade" id="nav-entrega" role="tabpanel" aria-labelledby="nav-profile-tab"
							style="height:100%">
							<div class="card "
								style="display: inline-block; width:750px; background-color:#89C2D9; border-width: 5px;">
								<h3 style="display:inline-block;">Realizar una entrega de la actividad</h3>
								<br />
								<h5 style="display:inline-block;">Complete la actividad en alguna de las pestañas que
									aparecen a
									continuación, segun crea correspondiente para completar la consigna
									(Graficador/Grafo social).
								</h5>
								<br />
								<h5 style="display:inline-block;">Agregue un comentario y presiona Guardar respuestas.
									Después cargue el archivo resultante en Elegir archivo de respuestas.</h5>
								<br />
								<div class="md-form" style="padding: 20px">
									<label class="titulo-form" for="inputCommentary">Comentario</label>
									<textarea class="md-textarea form-control" maxlength="256" name="inputCommentary"
										id="inputCommentary" rows="3"></textarea>
								</div>
								<button type="button" class="btn btn-primary" onclick="(function() {savePDF(); showUpload()})()">
									Guardar respuestas
								</button>
								
								<div id="archivo-respuestas" style="display: none">
									<p>Elegir archivo de respuestas:</p>
									<input type="file" class="form-control form-control-md" id="fileinput" />
									<button type="button" class="btn btn-primary" data-bs-toggle="modal"
										data-bs-target="#staticBackdrop">
										Enviar actividad
									</button>
								</div>
								<br />
								<br />
							</div>
							<br />
						</div>
					</div>
				</div>
			</div>
			<br />


			<div class="col">

			</div>
		</div>
	</div>
	<div class="modal" id="staticBackdrop" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Entrega</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>¿Confirma realizar la entrega?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal"
						onclick="postResolution()">Entregar</button>
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}