DB_HOST=
DB_NAME=
DB_USER=
KEEP_ALIVE=
DB_PASS=
NUM_WORKERS=5
TIMEOUT=500
PYTHONUNBUFFERED=TRUE
LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libnss_wrapper.so
NSS_WRAPPER_PASSWD=/tmp/passwd
NSS_WRAPPER_GROUP=/etc/group