{% extends "layout.html" %}
{% block title %}Uploading{% endblock %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/dragAndDrop.css') }}">
{% endblock %}
{% block content %}
	<div class="container d-flex" style="height: 90%">
	    <div class="row align-self-center" style="width: 100%" >
	     <div class="col">
				<h1>Cargar una nueva fuente de datos</h1>
				<p>(esta versión sólo permite trabajar con archivos de extensión .csv y .json)</p>
				<ol>
					<li>Seleccione 	el archivo a cargar. Desde "Examinar" podrá navegar en su explorador de archivos, o bien, puede usar la opción
						de arrastrar y soltar en el cuadro.
					</li>
					<li>
						Presione "Subir". Esta acción puede demorar varios minutos dependiendo del tamaño de su archivo (tamaño máximo: 100MB o 100.000KB)
					</li>
				</ol>
			</div>
			<div class="col">	
				<form action="{{url_for('uploadFile')}}" method=post enctype=multipart/form-data style="height: 100%">
		        	<div class="card" style="height: 50px; width: 100%;">
	       			<div class="mb-3">
						<input  class="form-control form-control-lg" type="file" name=file id="file" required placeholder="Archivo">
						</div>
		       		</div>
		        	<br>
		        	<input class="btn btn-info" style="width:100%" type=submit value="Subir">       	
		    	</form>
		    </div>
	    </div>
	</div>
{% endblock %}    